asgi-redis==1.4.3
asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
autobahn==20.1.3
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
dj-database-url==0.5.0
Django==3.1.13
greenlet==0.4.15
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
jedi==0.16.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==0.6.2
msgpack-python==0.5.6
neovim==0.3.1
parso==0.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==2.0.0
pylint==2.4.4
pynvim==0.4.1
pyOpenSSL==19.1.0
pytz==2019.3
redis==2.10.6
requests==2.22.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==20.1.1
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
zope.interface==4.7.1
